
.footer{
	left: 0;
   	bottom: 0;
   	width: 1180px;
   	height:150px;
   	margin:45px auto 45px auto;

   		.footer-list{
   				display: inline-block;
   				width: 290px;
   				height: 150px;
   				vertical-align: top;
   				padding: 15px 0 15px 0;
   				position: relative;

   				li{
					text-align: left;
					font-family: $primary-font;
					font-size: 12px;
					color:#848789;
					margin: 5px 0 5px 0;
					font-weight: bold;
					a{
						color:#848789;
						text-decoration: none;
						font-family: $primary-font;
						font-size: 10px;
						font-weight: normal;
						line-height:1.6;
							&:hover {
								color: pink;
							}
					}

						i{
								border: 1px solid pink;
								border-radius: 7px;
								padding: 2px;
								color: #848789;
								font-size: 12px;
								line-height:3;
								margin-right: 5px;
									&:hover {
									border: 1px solid #848789;
									color: pink;
									}
						}	
						h3{
							text-align: left;
							font-family: $primary-font;
							font-size: 12px;
							color:#848789;
							margin: 5px 0 5px 0;
							font-weight: bold;
							margin-bottom: 15px;
						}

						p{
							color:#848789;
							text-decoration: none;
							font-family: $primary-font;
							font-size: 10px;
							font-weight: normal;
							line-height:1.6;
						}

					}
						&:not(:last-child):after{
							position: absolute;
							width: 1px;
							content: '';
							height: 150px;
							background: pink;
							top: 0;
							right: 0;
							vertical-align: middle;
	   					}
		}	

	@include mq(0,1180px){
		width: 590px;
		margin:20px auto 20px auto;
		font-size:0;
			.footer-list{
				width:25%;
				margin:20px auto 10px auto;
				display:inline-block;
				padding: 10px;
			}
	}
	@include mq(0,600px){
		width: 295px;
		height:50px;
		margin:10px auto 25px auto;
		font-size:0;
			.footer-list{
			width:50%;
			margin:20px auto 10px auto;
			display:inline-block;
			&:after{
				display: none;
			}
			&:nth-of-type(odd){
				&:after {
					display:block;
				}
			}
			&:nth-of-type(even){
				right: -30px;
			}
			&:last-child{
				width:42%;
			}
		}	
	}
}