.wot{
	margin: 30px auto 30px auto;
	em{
		text-align: center;
		font-size: 20px;
		color: #848789;
		line-height:1.6;
		font-style: italic;
		display: block;
	}
	&:before{
		content:'';
		height: 1px;
		background: pink;
		display: block;
		margin: 20px 35px 30px 35px;
	}
	@include mq(0,985px){
		margin: 20px auto 0 auto;
		line-height: 15px;
		em{
		font-size: 15px;
			}
	}
}